In [2]:
import pandas as pd

In [5]:
raw_data = pd.read_csv('../data/teams.csv')
raw_data.head()
raw_data.shape()

,Unnamed: 0,Team,Age,W,L,PW,PL,MOV,SOS,SRS,...,.1,eFG%.1,TOV%.1,DRB%,FT/FGA.1,.2,Arena,Attend.,Attend./G,Year
0,0,Portland Trail Blazers*,24.5,49,33,55,27,5.59,-0.20,5.39,...,NaN,0.460,17.2,69.3,0.255,NaN,Memorial Coliseum,NaN,NaN,1977
1,1,Denver Nuggets*,27.3,50,32,54,28,5.22,-0.27,4.95,...,NaN,0.463,18.2,68.0,0.211,NaN,McNichols Sports Arena,NaN,NaN,1977
2,2,Philadelphia 76ers*,25.6,50,32,51,31,3.94,-0.16,3.78,...,NaN,0.451,16.7,66.0,0.197,NaN,The Spectrum,NaN,NaN,1977
3,3,Golden State Warriors*,25.8,46,36,49,33,3.22,-0.12,3.10,...,NaN,0.470,17.2,67.8,0.224,NaN,Oakland-Alameda County Coliseum Arena,NaN,NaN,1977
4,4,Los Angeles Lakers*,27.2,53,29,48,34,2.72,-0.08,2.64,...,NaN,0.452,15.6,66.1,0.194,NaN,The Forum,"501,434",NaN,1977